<ul>
    <li>
        <a [routerLink]="['/calculator']" routerLinkActive="active">Calculator</a>
        <div></div>
    </li>
    <li>
        <a [routerLink]="['/object-list']" routerLinkActive="active">Object list</a>
        <div></div>
    </li>
    <li>
        <a [routerLink]="['/directives']" routerLinkActive="active">Directives</a>
        <div></div>
    </li>
    <li>
        <a [routerLink]="['/lifecycle']" routerLinkActive="active">Life-cycle</a>
        <div></div>
    </li>
    <li>
        <a [routerLink]="['/requests']" routerLinkActive="active">Requests</a>
        <div></div>
    </li>
    <li>
        <a [routerLink]="['pipes']">Pipes</a>
        <div></div>
    </li>
    <li>
        <a [routerLink]="['forms']">Forms</a>
        <div></div>
    </li>
    <li>
        <a [routerLink]="['decorators']">Decorators</a>
        <div></div>
    </li>
    <li>
        <a [routerLink]="['view-styles']">Styles</a>
        <div></div>
    </li>
</ul>
